@import url(./../css/normalize.css);
/* Responsive Breakpoints */
.grecaptcha-badge {
  display: none !important; }

html body {
  background-color: #fff;
  font-family: "proxima-nova", Arial, Helvetica, sans-serif;
  color: #02195d;
  font-size: 16px;
  line-height: 1.2; }

h1 {
  color: #2e5eff;
  font-size: 96px;
  line-height: 1;
  text-transform: lowercase;
  font-weight: 900; }

h2 {
  color: #2e5eff;
  font-size: 32px; }

h3 {
  font-size: 56px;
  font-weight: 900; }

label {
  font-size: 14px;
  color: #96a5b2;
  margin-bottom: 16px; }

input[type="text"] {
  background-color: #fff;
  padding: 12px 16px;
  border: 1px solid #96a5b2;
  border-radius: 4px;
  color: #02195d; }
  input[type="text"]:focus {
    border-color: #2e5eff;
    box-shadow: 0 0 0 1px #2e5eff; }
    input[type="text"]:focus::-moz-placeholder {
      color: #2e5eff; }
    input[type="text"]:focus:-ms-input-placeholder {
      color: #2e5eff; }
    input[type="text"]:focus::placeholder {
      color: #2e5eff; }

input::-moz-placeholder {
  color: #96a5b2;
  opacity: 1; }

input:-ms-input-placeholder {
  color: #96a5b2;
  opacity: 1; }

input::placeholder {
  color: #96a5b2;
  opacity: 1; }

input.variant-1 {
  background-color: transparent;
  border: 1px solid #798bff; }
  input.variant-1::-moz-placeholder {
    color: #3e3f8b;
    opacity: 1; }
  input.variant-1:-ms-input-placeholder {
    color: #3e3f8b;
    opacity: 1; }
  input.variant-1::placeholder {
    color: #3e3f8b;
    opacity: 1; }

textarea {
  background-color: #fff;
  padding: 12px 16px;
  border: 1px solid #96a5b2;
  border-radius: 4px;
  color: #02195d; }
  textarea:focus {
    border-color: #2e5eff;
    box-shadow: 0 0 0 1px #2e5eff; }
    textarea:focus::-moz-placeholder {
      color: #2e5eff; }
    textarea:focus:-ms-input-placeholder {
      color: #2e5eff; }
    textarea:focus::placeholder {
      color: #2e5eff; }
  textarea::-moz-placeholder {
    color: #96a5b2;
    opacity: 1; }
  textarea:-ms-input-placeholder {
    color: #96a5b2;
    opacity: 1; }
  textarea::placeholder {
    color: #96a5b2;
    opacity: 1; }
  textarea.variant-1 {
    background-color: transparent;
    border: 1px solid #798bff; }
    textarea.variant-1::-moz-placeholder {
      color: #3e3f8b;
      opacity: 1; }
    textarea.variant-1:-ms-input-placeholder {
      color: #3e3f8b;
      opacity: 1; }
    textarea.variant-1::placeholder {
      color: #3e3f8b;
      opacity: 1; }

.button {
  -webkit-appearance: none !important;
     -moz-appearance: none !important;
          appearance: none !important;
  /* Not too fond of this */
  background: none;
  border: 2px solid transparent;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  min-width: 100px;
  outline: none !important;
  /* Not too fond of this */
  padding: 12px 16px;
  text-decoration: none;
  text-transform: capitalize;
  text-overflow: ellipsis;
  max-width: 100%;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  transition: all 150ms ease-out; }

.text-button {
  padding: 0;
  margin: 0; }

.primary-button {
  background-color: #2e5eff;
  color: #fff;
  border-color: #2e5eff;
  box-shadow: 0 4px 20px 0 #2e5eff; }
  .primary-button:focus {
    background-color: #0035cb;
    border-color: #0035cb; }
  .primary-button:active {
    background-color: #0035cb !important;
    border-color: #0035cb !important; }
  .primary-button:hover {
    background-color: #798bff;
    border-color: #798bff; }

.secondary-button {
  background-color: transparent;
  color: #2e5eff;
  border-color: #2e5eff; }
  .secondary-button:focus {
    color: #0035cb;
    border-color: #0035cb; }
  .secondary-button:active {
    color: #0035cb !important;
    border-color: #0035cb !important; }
  .secondary-button:hover {
    color: #798bff;
    border-color: #798bff; }

.text-white {
  color: #fff; }

.text-primary {
  color: #2e5eff; }

.text-gray {
  color: #96a5b2; }

.text-align-right {
  text-align: right !important; }

.text-align-center {
  text-align: center !important; }

.text-align-left {
  text-align: left !important; }

nav {
  margin-top: 80px; }
  @media (max-width: 768px) {
    nav {
      margin-top: 40px; } }
  @media (max-width: 768px) {
    nav .logo-wrapper {
      margin-bottom: 40px; } }
  nav .logo-wrapper .logo {
    height: 28px; }
    @media (max-width: 768px) {
      nav .logo-wrapper .logo {
        height: 36px; } }

.nav-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  height: 80px;
  width: 100%; }
  @media (max-width: 768px) {
    .nav-wrapper {
      -ms-flex-direction: column;
          flex-direction: column; } }
  .nav-wrapper .nav-items-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: end;
        justify-content: flex-end; }
    @media (max-width: 768px) {
      .nav-wrapper .nav-items-wrapper {
        -ms-flex-pack: center;
            justify-content: center; } }
    .nav-wrapper .nav-items-wrapper button,
    .nav-wrapper .nav-items-wrapper span {
      margin: 0 12px; }

.full-logo {
  width: 100px; }

.max-width {
  max-width: 1200px;
  margin: 0 auto;
  width: 75%; }
  @media (max-width: 1024px) {
    .max-width {
      width: 80%; } }

.page-header {
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 40px 0 96px 0;
  margin: 40px 128px 96px 0; }
  @media (max-width: 1300px) {
    .page-header {
      margin-right: 0;
      background-position: center; } }
  @media (max-width: 1024px) {
    .page-header {
      background-size: 70%; } }
  @media (max-width: 768px) {
    .page-header {
      background-size: 90%;
      padding-bottom: 40px;
      margin-bottom: 40px; } }
  .page-header .content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; }
    .page-header .content .title {
      width: 50%; }
      @media (max-width: 1024px) {
        .page-header .content .title {
          width: 100%; } }
    .page-header .content .description {
      color: #96a5b2; }
    .page-header .content .form {
      margin-top: 80px; }
      @media (max-width: 768px) {
        .page-header .content .form {
          margin-top: 40px; } }
      .page-header .content .form form {
        display: -ms-flexbox;
        display: flex; }
        @media (max-width: 768px) {
          .page-header .content .form form {
            -ms-flex-direction: column;
                flex-direction: column;
            -ms-flex-align: center;
                align-items: center; }
            .page-header .content .form form .input-textbox {
              width: 80%; } }
        .page-header .content .form form input {
          margin-right: 16px; }
          @media (max-width: 768px) {
            .page-header .content .form form input {
              margin: 8px 0; } }

.feature-section {
  background-color: #ecf5fc;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 128px 0; }
  @media (max-width: 768px) {
    .feature-section {
      padding: 80px 0 512px; } }
  .feature-section .content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row; }
    @media (max-width: 768px) {
      .feature-section .content {
        -ms-flex-direction: column;
            flex-direction: column; } }
    .feature-section .content h2 {
      width: 320px;
      z-index: 20; }
      @media (max-width: 768px) {
        .feature-section .content h2 {
          width: 100%;
          text-align: center;
          background-color: #ecf5fc;
          margin-bottom: 80px; } }
    .feature-section .content .feature-image-container {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      position: absolute; }
      @media (max-width: 768px) {
        .feature-section .content .feature-image-container {
          position: initial; } }
    .feature-section .content:nth-child(1) .feature-image-container {
      right: 0;
      top: 0;
      background-color: #2e5eff;
      width: 500px;
      height: 500px;
      z-index: 10;
      mix-blend-mode: multiply; }
      @media (max-width: 768px) {
        .feature-section .content:nth-child(1) .feature-image-container {
          width: 400px;
          height: 400px; } }
      @media (max-width: 768px) {
        .feature-section .content:nth-child(1) .feature-image-container {
          width: 100%; } }
      .feature-section .content:nth-child(1) .feature-image-container .feature-image {
        width: 80%;
        height: 80%; }
    .feature-section .content:nth-child(2) {
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
      margin-top: 320px; }
      @media (max-width: 768px) {
        .feature-section .content:nth-child(2) {
          margin-top: 80px;
          -ms-flex-direction: column;
              flex-direction: column; } }
      .feature-section .content:nth-child(2) .feature-image-container {
        background-color: #ff6867;
        width: 500px;
        height: 250px;
        right: auto;
        top: auto;
        left: 192px;
        bottom: 0;
        z-index: 0; }
        @media (max-width: 1024px) {
          .feature-section .content:nth-child(2) .feature-image-container {
            z-index: 10;
            left: 0;
            mix-blend-mode: hard-light; } }
        @media (max-width: 768px) {
          .feature-section .content:nth-child(2) .feature-image-container {
            width: 100%;
            mix-blend-mode: initial; } }
  .feature-section .full-container-image-wrapper {
    margin: 0 auto;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: end;
        align-items: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; }
    @media (max-width: 1300px) {
      .feature-section .full-container-image-wrapper {
        right: 160px; } }
    @media (max-width: 1024px) {
      .feature-section .full-container-image-wrapper {
        left: 48px;
        right: initial; } }
    .feature-section .full-container-image-wrapper .full-container-image {
      height: 90%; }
      @media (max-width: 1300px) {
        .feature-section .full-container-image-wrapper .full-container-image {
          height: 660px; } }
      @media (max-width: 1024px) {
        .feature-section .full-container-image-wrapper .full-container-image {
          height: 600px; } }
      @media (max-width: 768px) {
        .feature-section .full-container-image-wrapper .full-container-image {
          max-height: 500px;
          height: auto; } }

.full-width-callout {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 128px 0;
  text-align: center; }
  @media (max-width: 768px) {
    .full-width-callout {
      margin: 128px 0 80px; } }
  .full-width-callout .form {
    margin-top: 40px; }
    .full-width-callout .form form {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center; }
      @media (max-width: 768px) {
        .full-width-callout .form form {
          -ms-flex-direction: column;
              flex-direction: column;
          -ms-flex-align: center;
              align-items: center; }
          .full-width-callout .form form .input-textbox {
            width: 80%; } }
      .full-width-callout .form form input {
        margin-right: 16px; }
        @media (max-width: 768px) {
          .full-width-callout .form form input {
            margin: 8px 0; } }

.footer {
  background-color: #02195d;
  padding: 48px 0 64px;
  position: relative; }
  .footer .footer-wrapper {
    display: -ms-flexbox;
    display: flex; }
  .footer .contact-form-container {
    width: 60%; }
    .footer .contact-form-container .contact-form-wrapper {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      width: 60%; }
      .footer .contact-form-container .contact-form-wrapper h3 {
        margin-bottom: 48px; }
      .footer .contact-form-container .contact-form-wrapper #contact-form {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column; }
        .footer .contact-form-container .contact-form-wrapper #contact-form input,
        .footer .contact-form-container .contact-form-wrapper #contact-form textarea {
          margin-bottom: 16px; }
  .footer .nav-wrapper {
    width: 40%;
    height: 480px;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: start;
        align-items: flex-start; }
    .footer .nav-wrapper .full-logo {
      width: 150px; }
    .footer .nav-wrapper .nav-items-wrapper {
      -ms-flex-pack: start;
          justify-content: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
      -ms-flex-direction: column;
          flex-direction: column; }
      .footer .nav-wrapper .nav-items-wrapper .contact-info {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        margin: 32px 0; }
        .footer .nav-wrapper .nav-items-wrapper .contact-info span {
          margin: 8px 0; }
        .footer .nav-wrapper .nav-items-wrapper .contact-info .social-media-icon {
          max-height: 28px; }
      .footer .nav-wrapper .nav-items-wrapper .button,
      .footer .nav-wrapper .nav-items-wrapper span {
        margin: 8px 0; }
  .footer .back-to-top {
    background-color: #fbd800;
    width: 72px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
        justify-content: flex-end;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-direction: column;
        flex-direction: column; }
    .footer .back-to-top .arrow-up {
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid #02195d; }
    .footer .back-to-top .arrow-stem {
      border: #02195d 1px solid;
      height: 96px;
      margin: 0 0 72px; }
