@import url(./../css/normalize.css);
/* Responsive Breakpoints */
.grecaptcha-badge {
  display: none !important; }

html body {
  background-color: #fff;
  font-family: "proxima-nova", Arial, Helvetica, sans-serif;
  color: #02195d;
  font-size: 16px;
  line-height: 1.2; }

h1 {
  color: #2e5eff;
  font-size: 96px;
  line-height: 1;
  text-transform: lowercase;
  font-weight: 900; }

h2 {
  color: #2e5eff;
  font-size: 32px;
  text-transform: lowercase; }

h3 {
  font-size: 56px;
  font-weight: 300; }

label {
  font-size: 14px;
  color: #96a5b2;
  margin-bottom: 16px; }

input[type="text"] {
  background-color: #fff;
  padding: 12px 16px;
  border: 1px solid #96a5b2;
  border-radius: 4px;
  color: #02195d; }
  input[type="text"]:focus {
    border-color: #2e5eff;
    box-shadow: 0 0 0 1px #2e5eff; }
    input[type="text"]:focus::placeholder {
      color: #2e5eff; }

input::placeholder {
  color: #96a5b2;
  opacity: 1; }

input.variant-1 {
  background-color: transparent;
  border: 1px solid #3e3f8b; }
  input.variant-1::placeholder {
    color: #3e3f8b;
    opacity: 1; }

textarea {
  background-color: #fff;
  padding: 12px 16px;
  border: 1px solid #96a5b2;
  border-radius: 4px;
  color: #02195d; }
  textarea:focus {
    border-color: #2e5eff;
    box-shadow: 0 0 0 1px #2e5eff; }
    textarea:focus::placeholder {
      color: #2e5eff; }
  textarea::placeholder {
    color: #96a5b2;
    opacity: 1; }
  textarea.variant-1 {
    background-color: transparent;
    border: 1px solid #3e3f8b; }
    textarea.variant-1::placeholder {
      color: #3e3f8b;
      opacity: 1; }

.button {
  appearance: none !important;
  /* Not too fond of this */
  background: none;
  border: 2px solid transparent;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  min-width: 100px;
  outline: none !important;
  /* Not too fond of this */
  padding: 12px 16px;
  text-decoration: none;
  text-transform: capitalize;
  text-overflow: ellipsis;
  max-width: 100%;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  transition: all 150ms ease-out; }

.primary-button {
  background-color: #2e5eff;
  color: #fff;
  border-color: #2e5eff;
  box-shadow: 0 4px 20px 0 #2e5eff; }
  .primary-button:focus {
    background-color: #0035cb;
    border-color: #0035cb; }
  .primary-button:active {
    background-color: #0035cb !important;
    border-color: #0035cb !important; }
  .primary-button:hover {
    background-color: #798bff;
    border-color: #798bff; }

.secondary-button {
  background-color: transparent;
  color: #2e5eff;
  border-color: #2e5eff; }
  .secondary-button:focus {
    color: #0035cb;
    border-color: #0035cb; }
  .secondary-button:active {
    color: #0035cb !important;
    border-color: #0035cb !important; }
  .secondary-button:hover {
    color: #798bff;
    border-color: #798bff; }

.text-white {
  color: #fff; }

.text-primary {
  color: #2e5eff; }

.text-gray {
  color: #96a5b2; }

nav {
  margin-top: 80px; }
  @media (max-width: 768px) {
    nav {
      margin-top: 40px; } }
  @media (max-width: 768px) {
    nav .logo-wrapper {
      margin-bottom: 40px; } }
  nav .logo-wrapper .logo {
    height: 28px; }
    @media (max-width: 768px) {
      nav .logo-wrapper .logo {
        height: 36px; } }

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%; }
  @media (max-width: 768px) {
    .nav-wrapper {
      flex-direction: column; } }
  .nav-wrapper .nav-items-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    @media (max-width: 768px) {
      .nav-wrapper .nav-items-wrapper {
        justify-content: center; } }
    .nav-wrapper .nav-items-wrapper * {
      margin: 0 12px; }

.full-logo {
  width: 100px; }

.max-width {
  max-width: 1200px;
  margin: 0 auto;
  width: 75%; }
  @media (max-width: 1024px) {
    .max-width {
      width: 80%; } }

.page-header {
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 40px 0 96px 0;
  margin: 40px 128px 96px 0; }
  @media (max-width: 1300px) {
    .page-header {
      margin-right: 0;
      background-position: center; } }
  @media (max-width: 1024px) {
    .page-header {
      background-size: 70%; } }
  @media (max-width: 768px) {
    .page-header {
      background-size: 90%;
      padding-bottom: 40px;
      margin-bottom: 40px; } }
  .page-header .content {
    display: flex;
    flex-direction: column; }
    .page-header .content .title {
      width: 50%;
      margin-bottom: 32px; }
      @media (max-width: 1024px) {
        .page-header .content .title {
          width: 100%; } }
    .page-header .content .description {
      color: #96a5b2; }
    .page-header .content .form {
      margin-top: 80px; }
      @media (max-width: 768px) {
        .page-header .content .form {
          margin-top: 40px; } }
      .page-header .content .form form {
        display: flex; }
        @media (max-width: 768px) {
          .page-header .content .form form {
            flex-direction: column;
            align-items: center; }
            .page-header .content .form form .input-textbox {
              width: 80%; } }
        .page-header .content .form form input {
          margin-right: 16px; }
          @media (max-width: 768px) {
            .page-header .content .form form input {
              margin: 8px 0; } }

.feature-section {
  background-color: #ecf5fc;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 128px 0; }
  @media (max-width: 768px) {
    .feature-section {
      padding: 80px 0 512px; } }
  .feature-section .content {
    display: flex;
    flex-direction: row; }
    @media (max-width: 768px) {
      .feature-section .content {
        flex-direction: column; } }
    .feature-section .content h2 {
      width: 320px;
      z-index: 20; }
      @media (max-width: 768px) {
        .feature-section .content h2 {
          width: 100%;
          text-align: center;
          background-color: #ecf5fc;
          margin-bottom: 80px; } }
    .feature-section .content .feature-image-container {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute; }
      @media (max-width: 768px) {
        .feature-section .content .feature-image-container {
          position: initial; } }
    .feature-section .content:nth-child(1) .feature-image-container {
      right: 0;
      top: 0;
      background-color: #2e5eff;
      width: 500px;
      height: 500px;
      z-index: 10;
      mix-blend-mode: multiply; }
      @media (max-width: 768px) {
        .feature-section .content:nth-child(1) .feature-image-container {
          width: 400px;
          height: 400px; } }
      @media (max-width: 768px) {
        .feature-section .content:nth-child(1) .feature-image-container {
          width: 100%; } }
      .feature-section .content:nth-child(1) .feature-image-container .feature-image {
        width: 80%;
        height: 80%; }
    .feature-section .content:nth-child(2) {
      flex-direction: row-reverse;
      margin-top: 320px; }
      @media (max-width: 768px) {
        .feature-section .content:nth-child(2) {
          margin-top: 80px;
          flex-direction: column; } }
      .feature-section .content:nth-child(2) .feature-image-container {
        background-color: #ff6867;
        width: 500px;
        height: 250px;
        right: auto;
        top: auto;
        left: 192px;
        bottom: 0;
        z-index: 0; }
        @media (max-width: 1024px) {
          .feature-section .content:nth-child(2) .feature-image-container {
            z-index: 10;
            left: 0;
            mix-blend-mode: hard-light; } }
        @media (max-width: 768px) {
          .feature-section .content:nth-child(2) .feature-image-container {
            width: 100%;
            mix-blend-mode: initial; } }
  .feature-section .full-container-image-wrapper {
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; }
    @media (max-width: 1300px) {
      .feature-section .full-container-image-wrapper {
        right: 160px; } }
    @media (max-width: 1024px) {
      .feature-section .full-container-image-wrapper {
        left: 48px;
        right: initial; } }
    .feature-section .full-container-image-wrapper .full-container-image {
      height: 90%; }
      @media (max-width: 1300px) {
        .feature-section .full-container-image-wrapper .full-container-image {
          height: 660px; } }
      @media (max-width: 1024px) {
        .feature-section .full-container-image-wrapper .full-container-image {
          height: 600px; } }
      @media (max-width: 768px) {
        .feature-section .full-container-image-wrapper .full-container-image {
          max-height: 500px;
          height: auto; } }

.full-width-callout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 128px 0;
  text-align: center; }
  @media (max-width: 768px) {
    .full-width-callout {
      margin: 128px 0 80px; } }
  .full-width-callout .form {
    margin-top: 40px; }
    .full-width-callout .form form {
      display: flex;
      justify-content: center; }
      @media (max-width: 768px) {
        .full-width-callout .form form {
          flex-direction: column;
          align-items: center; }
          .full-width-callout .form form .input-textbox {
            width: 80%; } }
      .full-width-callout .form form input {
        margin-right: 16px; }
        @media (max-width: 768px) {
          .full-width-callout .form form input {
            margin: 8px 0; } }

.footer {
  background-color: #02195d;
  padding: 48px 0; }
  .footer .contact-form-wrapper {
    width: 50%; }
    .footer .contact-form-wrapper h3 {
      margin-bottom: 48px; }
    .footer .contact-form-wrapper #contact-form {
      display: flex;
      flex-direction: column; }
      .footer .contact-form-wrapper #contact-form input, .footer .contact-form-wrapper #contact-form textarea {
        margin-bottom: 16px; }
