@import "./../css/normalize.css";

$loopui-primary: #2e5eff;
$loopui-primary-dark: #0035cb;
$loopui-primary-light: #798bff;

$loopui-secondary: #02195d;
$loopui-secondary-dark: #000033;
$loopui-secondary-light: #3e3f8b;

$loopui-pink: #ff6867;
$loopui-pink-dark: #ff3a3d;
$loopui-pink-light: #ff9492;

$loopui-yellow: #fbd800;
$loopui-yellow-dark: #fbc100;
$loopui-yellow-light: #f6e800;

$loopui-black: $loopui-secondary;
$loopui-dark-gray: #96a5b2;
$loopui-medium-gray: #cbd6e1;
$loopui-light-gray: #ecf5fc;

/* Responsive Breakpoints */

$break-desktop: 1300px;
$break-tablet: 1024px;
$break-phone: 768px;

.grecaptcha-badge {
  display: none !important;
}

html {
  body {
    background-color: #fff;
    font-family: "proxima-nova", Arial, Helvetica, sans-serif;
    color: $loopui-black;
    font-size: 16px;
    line-height: 1.2;
  }
}

h1 {
  color: $loopui-primary;
  font-size: 96px;
  line-height: 1;
  text-transform: lowercase;
  font-weight: 900;
}

h2 {
  color: $loopui-primary;
  font-size: 32px;
  text-transform: lowercase;
}

h3 {
  font-size: 56px;
  font-weight: 300;
}

label {
  font-size: 14px;
  color: $loopui-dark-gray;
  margin-bottom: 16px;
}

input {
  &[type="text"] {
    background-color: #fff;
    padding: 12px 16px;
    border: 1px solid $loopui-dark-gray;
    border-radius: 4px;
    color: $loopui-black;

    &:focus {
      border-color: $loopui-primary;
      box-shadow: 0 0 0 1px $loopui-primary;

      &::placeholder {
        color: $loopui-primary;
      }
    }
  }

  &::placeholder {
    color: $loopui-dark-gray;
    opacity: 1;
  }

  &.variant-1 {
    background-color: transparent;
    border: 1px solid $loopui-primary-light;

    &::placeholder {
      color: $loopui-secondary-light;
      opacity: 1;
    }
  }
}

textarea {
  background-color: #fff;
  padding: 12px 16px;
  border: 1px solid $loopui-dark-gray;
  border-radius: 4px;
  color: $loopui-black;

  &:focus {
    border-color: $loopui-primary;
    box-shadow: 0 0 0 1px $loopui-primary;

    &::placeholder {
      color: $loopui-primary;
    }
  }

  &::placeholder {
    color: $loopui-dark-gray;
    opacity: 1;
  }

  &.variant-1 {
    background-color: transparent;
    border: 1px solid $loopui-primary-light;

    &::placeholder {
      color: $loopui-secondary-light;
      opacity: 1;
    }
  }
}

.button {
  appearance: none !important; /* Not too fond of this */
  background: none;
  border: 2px solid transparent;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  min-width: 100px;
  outline: none !important; /* Not too fond of this */
  padding: 12px 16px;
  text-decoration: none;
  text-transform: capitalize;
  text-overflow: ellipsis;
  max-width: 100%;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  transition: all 150ms ease-out;
}

.text-button {
  padding: 0;
  margin: 0;
}

.primary-button {
  background-color: $loopui-primary;
  color: #fff;
  border-color: $loopui-primary;
  box-shadow: 0 4px 20px 0 #2e5eff;

  &:focus {
    background-color: $loopui-primary-dark;
    border-color: $loopui-primary-dark;
  }

  &:active {
    background-color: $loopui-primary-dark !important;
    border-color: $loopui-primary-dark !important;
  }

  &:hover {
    background-color: $loopui-primary-light;
    border-color: $loopui-primary-light;
  }
}

.secondary-button {
  background-color: transparent;
  color: $loopui-primary;
  border-color: $loopui-primary;

  &:focus {
    color: $loopui-primary-dark;
    border-color: $loopui-primary-dark;
  }

  &:active {
    color: $loopui-primary-dark !important;
    border-color: $loopui-primary-dark !important;
  }

  &:hover {
    color: $loopui-primary-light;
    border-color: $loopui-primary-light;
  }
}

.text-white {
  color: #fff;
}

.text-primary {
  color: $loopui-primary;
}

.text-gray {
  color: $loopui-dark-gray;
}

.text-align-right {
  text-align: right !important;
}

.text-align-center {
  text-align: center !important;
}

.text-align-left {
  text-align: left !important;
}

nav {
  margin-top: 80px;
  @media (max-width: $break-phone) {
    margin-top: 40px;
  }

  .logo-wrapper {
    @media (max-width: $break-phone) {
      margin-bottom: 40px;
    }

    .logo {
      height: 28px;

      @media (max-width: $break-phone) {
        height: 36px;
      }
    }
  }
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;

  @media (max-width: $break-phone) {
    flex-direction: column;
  }

  .nav-items-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media (max-width: $break-phone) {
      justify-content: center;
    }

    button,
    span {
      margin: 0 12px;
    }
  }
}

.full-logo {
  width: 100px;
}

.max-width {
  max-width: 1200px;
  margin: 0 auto;
  width: 75%;

  @media (max-width: $break-tablet) {
    width: 80%;
  }
}

.page-header {
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 40px 0 96px 0;
  margin: 40px 128px 96px 0;

  @media (max-width: $break-desktop) {
    margin-right: 0;
    background-position: center;
  }

  @media (max-width: $break-tablet) {
    background-size: 70%;
  }

  @media (max-width: $break-phone) {
    background-size: 90%;
    padding-bottom: 40px;
    margin-bottom: 40px;
  }

  .content {
    display: flex;
    flex-direction: column;
    .title {
      width: 50%;
      @media (max-width: $break-tablet) {
        width: 100%;
      }
    }

    .description {
      color: $loopui-dark-gray;
    }

    .form {
      margin-top: 80px;
      @media (max-width: $break-phone) {
        margin-top: 40px;
      }
      form {
        display: flex;
        @media (max-width: $break-phone) {
          flex-direction: column;
          align-items: center;

          .input-textbox {
            width: 80%;
          }
        }
        input {
          margin-right: 16px;
          @media (max-width: $break-phone) {
            margin: 8px 0;
          }
        }
      }
    }
  }
}

.feature-section {
  background-color: $loopui-light-gray;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 128px 0;

  @media (max-width: $break-phone) {
    padding: 80px 0 512px;
  }

  .content {
    display: flex;
    flex-direction: row;

    @media (max-width: $break-phone) {
      flex-direction: column;
    }

    h2 {
      width: 320px;
      z-index: 20;
      @media (max-width: $break-phone) {
        width: 100%;
        text-align: center;
        background-color: $loopui-light-gray;
        margin-bottom: 80px;
      }
    }

    .feature-image-container {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;

      @media (max-width: $break-phone) {
        position: initial;
      }
    }

    &:nth-child(1) {
      .feature-image-container {
        right: 0;
        top: 0;
        background-color: $loopui-primary;
        width: 500px;
        height: 500px;
        z-index: 10;
        mix-blend-mode: multiply;

        @media (max-width: $break-phone) {
          width: 400px;
          height: 400px;
        }

        @media (max-width: $break-phone) {
          width: 100%;
        }

        .feature-image {
          width: 80%;
          height: 80%;
        }
      }
    }

    &:nth-child(2) {
      flex-direction: row-reverse;
      margin-top: 320px;

      @media (max-width: $break-phone) {
        margin-top: 80px;
        flex-direction: column;
      }

      .feature-image-container {
        background-color: $loopui-pink;
        width: 500px;
        height: 250px;
        right: auto;
        top: auto;
        left: 192px;
        bottom: 0;
        z-index: 0;

        @media (max-width: $break-tablet) {
          z-index: 10;
          left: 0;
          mix-blend-mode: hard-light;
        }
        @media (max-width: $break-phone) {
          width: 100%;
          mix-blend-mode: initial;
        }
      }
    }
  }

  .full-container-image-wrapper {
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    @media (max-width: $break-desktop) {
      right: 160px;
    }

    @media (max-width: $break-tablet) {
      left: 48px;
      right: initial;
    }

    .full-container-image {
      height: 90%;

      @media (max-width: $break-desktop) {
        height: 660px;
      }

      @media (max-width: $break-tablet) {
        height: 600px;
      }
      @media (max-width: $break-phone) {
        max-height: 500px;
        height: auto;
      }
    }
  }
}

.full-width-callout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 128px 0;
  text-align: center;

  @media (max-width: $break-phone) {
    margin: 128px 0 80px;
  }

  .form {
    margin-top: 40px;
    form {
      display: flex;
      justify-content: center;
      @media (max-width: $break-phone) {
        flex-direction: column;
        align-items: center;

        .input-textbox {
          width: 80%;
        }
      }
      input {
        margin-right: 16px;
        @media (max-width: $break-phone) {
          margin: 8px 0;
        }
      }
    }
  }
}

.footer {
  background-color: $loopui-secondary;
  padding: 48px 0 64px;
  position: relative;

  .footer-wrapper {
    display: flex;
  }

  .contact-form-container {
    width: 60%;

    .contact-form-wrapper {
      width: 60%;
      h3 {
        margin-bottom: 48px;
      }

      #contact-form {
        display: flex;
        flex-direction: column;

        input,
        textarea {
          margin-bottom: 16px;
        }
      }
    }
  }

  .nav-wrapper {
    width: 40%;
    height: 480px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    .full-logo {
      width: 150px;
    }
    .nav-items-wrapper {
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      .contact-info{
        display: flex;
        flex-direction: column;
        margin: 32px 0;
        span{
          margin: 8px 0;
        }

        .social-media-icon{
          max-height: 28px;
        }
      }

      .button,
      span {
        margin: 8px 0;
      }
    }
  }

  .back-to-top {
    background-color: $loopui-yellow;
    width: 72px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

    .arrow-up {
      width: 0; 
      height: 0; 
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      
      border-bottom: 8px solid $loopui-black;
    }

    .arrow-stem{
      border: $loopui-black 1px solid;
      height: 96px;
      margin: 0 0 72px ;
    }
  }
}
